<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
    <div class="container">
        <h1>Login Page</h1>
        <p class="lead">ログインページです</p><!-- /.lead -->
        <br>
        <form action="/login" method="post">
            <div class="form-group">
                <input type="text" name="username" id="username" placeholder="Enter UserName" class="form-control">
            </div><!-- /.form-group -->
            <div class="form-group">
                <input type="password" name="password" id="password" class="form-control">
                <button type="submit" class="btn btn-default">送信</button><!-- /.btn btn-default -->
                &nbsp;
                <a href="/"><button class="btn btn-primary">キャンセル</button><!-- /.btn btn-primary --></a>
            </div><!-- /.form-control -->
        </form>
    </div><!-- /.container -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
 
</body>
</html>